<!DOCTYPE>
<html>
	<head>
		<title>Namespacing</title>
		<!--////////-->
		<!-- Styles -->
		<!--////////-->
		<link rel="stylesheet" href="stylesheets/app.css">
	</head>
	<body>
		
		
		<div class="row column medium-5">
			<h1>Namespacing</h1>
			<ul class="button-group">
			  <li><button id="newsBtn" class="button column medium-6">News</button></li>
			  <li><button id="opinionsBtn" class="button coulmn medium-6">Opinions</button></li>
			</ul>
			<section id="container">
				<!-- Dynamic Content -->
				<h1>Nothing Yet.</h1>
			</section>
		</div>
		
		<!--/////////-->
		<!-- Scripts -->
		<!--/////////-->
		<script src="scripts/vendor.js"></script>
		<script src="scripts/app.js"></script>
	</body>
</html>