// ------- //
// Imports //
// ------- //
@import "_Vendor";
@import "_layout";

// --------- //
// Variables //
// --------- //
// - Colors  //
$peter_river : #3498db;
$belize_hole : #2980b9;
$clouds      : #ecf0f1;
$alizarin    : #e74c3c;
$emerald     : #2ecc71;
// - Theme   //
$main-color      : $peter_river;
$main-color-dark : $belize_hole;
$tile-border     : $belize_hole;
$tile-hover      : $clouds;
$dirty-x         : $alizarin;
$dirty-o         : $emerald;
// --------- //

body {
	font-family : 'Arial';
	background  : $main-color;
	margin      : 0;
}

.title {
	color      : white;
	text-align : center;
}

.board {
	background : $main-color-dark;
	padding    : 30px;
}

.tile {
	background     : white;
	position       : relative;
	padding-bottom : 33.33333%; 
	border         : 1px solid $tile-border;

		&.dirty {
			&::after {
				content   : "";
				font-size: 8vw;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				text-align: center;
				height: 100%;
			}
			&.dirty-x {
				&::after {
					content : "X";
					color   : $dirty-x;
				}
			}
			&.dirty-o {
				&::after {
					content : "O";
					color   : $dirty-o;
				}
			}
		}
		&:hover {
			background : $tile-hover;
			cursor     : pointer;
		}
}