<!DOCTYPE>
<html>
	<head>
		<title>Cat</title>
		<!--////////-->
		<!-- Styles -->
		<!--////////-->
		<link rel="stylesheet" href="stylesheets/app.css">
	</head>
	<body>
		
		
		<h6>Users connected: <span id="connections" ><!-- Connections Counter --></span> </h6>

		<ul id="comments">
			<!-- Comments -->
		</ul>

		<form id="commentForm" action="" >
			<div>
				<input type="text" id="comment">
			</div>
		</form>
		
		<!--/////////-->
		<!-- Scripts -->
		<!--/////////-->
		<script src="scripts/vendor.js"></script>
		<script src="scripts/app.js"></script>
	</body>
</html>