// --------- //
// Variables //
// --------- //
// - Colors  //
$burnt_sienna : #EF5350;
$outer_space  : #263238;
$clouds       : #ecf0f1;
$alizarin     : #e74c3c;
$emerald      : #2ecc71;
// - Theme   //
$main-color      : $burnt_sienna;
$main-color-dark : $outer_space;
$tile-border     : $outer_space;
$list-border     : $outer_space;
$tile-hover      : $clouds;
$dirty-x         : $alizarin;
$dirty-o         : $emerald;